- var minified = (environment != 'development') ? '.min' : '';

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/png" href="/favicon.ico")/
    link(rel="stylesheet" href="/css/main#{minified}.css" type="text/css")/
    title!= title

  //- For convenience, we add the environment and version as a class on the body
  body(class="#{environment} version-#{version}")

    //- The React App is compiled and goes in here
    #app-container !{app}

    .container
      .row
        .twelve.columns
          footer
            strong version :&nbsp;
            | #{version} •&nbsp;
            strong environment :&nbsp;
            | #{environment} •&nbsp;
            strong app name :&nbsp;
            | #{appName}

    //- external.js contains all the pluggins used in the app, this file doesn't
    //- change as often as our app.js and can be cached better by the browser.
    script(src="/js/external#{minified}.js")

    if HOT_RELOAD
      //- When using webpack, we use the bundle instead of the compiled source
      script(src="http://#{webpackHost}:#{webpackPort}#{webpackPath}#{webpackFile}")
    else
      script(src="/js/#{appName}#{minified}.js")

