doctype html
html(lang="en")
  head
    link(rel="icon" type="image/png" href="/favicon.ico")/

    - var minified = (environment != 'development') ? '.min' : '';

    link(rel="stylesheet" href="/css/main#{minified}.css" type="text/css")/

    title= title
  body
    .container
      .row
        .twelve.columns
          #app-container !{app}

      .row
        .twelve.columns
          footer
            strong version :&nbsp;
            | #{version} •&nbsp;
            strong environment :&nbsp;
            | #{environment} •&nbsp;
            strong app name :&nbsp;
            | #{appName}

    script(src="/js/external#{minified}.js")

    if WHOST
      script(src="http://#{WHOST}:#{WPORT}/scripts/bundle.js")
    else
      script(src="/js/#{appName}#{minified}.js")

